/* ELEMENTS */
body {
    background-color:  #0d001a;
    font-family: verdana;
    font-size: 12px;
    color: #f2e6ff;
    margin: auto;
    max-width: 70%;
     vertical-align: middle;
      horizontal-align: middle;
    padding: 10px;
}

h1 {
    color: #e60099;
    text-align: center;
    font-family: arial;
    font-size: 33px;
    spacing: 30px;
}

h2 {
    color: #e6ccff;
    font-size: 20px;
    padding: 18px;
}

h3 {
    color: #e6ccff;
    font-size: 12px;
    padding: 1px;
}

h4 {
    color: yellow;
    font-size: 8px;
    padding: 0px;
}

p {
    color: #bf80ff;
    font-family: #f2e6ff;
    font-size: 12px;

}

a {
    color: #e6ccff;
}

img {
    border-radius: 6px;
}

a:hover {
    color: #ff1ab3;
}

button {
    border-radius: 8px;
    float: left;
    color: whitesmoke;
    background-color: #ff1ab3;
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
    font-size: 17px;
    font-family: Bradley Hand;
}


/* CLASSES */
.tegel{
    background-color: #1a0033;
    border-radius: 12px;
    padding: 20px
}

/* IDS */



/* NAVIGATION */
.topnav {
    background-color: #26004d;
    overflow: hidden;
    border-radius: 8px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #1a75ff;
    color: white;
}


/* sticky menu */

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
