/* ELEMENTS */

/*
body {
    background-color:  #0d001a;
    font-family: verdana;
    font-size: 12px;
    color: #f2e6ff;
    margin: auto;
    max-width: 100%;
    padding: 10%;
}

h1 {
    color: #e60099;
    text-align: center;
    font-family: arial;
    font-size: 133px;
    spacing: 50px;
}

h2 {
    color: #e6ccff;
    font-size: 20px;
    padding: 18px;
}

h3 {
    color: #e6ccff;
    font-size: 12px;
    padding: 1px;
}

h4 {
  color: yellow;
}

p {
    color: #00284d;
    font-family: ;
    font-size: 13px;

}

a {
    color: #e6ccff;
}

img {
    border-radius: 6px;
}

a:hover {
    color: #ff1ab3;
}

button {
    border-radius: 8px;
    float: left;
    color: whitesmoke;
    background-color: red;
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
    font-size: 17px;
    font-family: Bradley Hand;
}


.btn btn-primary{
    border-radius: 8px;
    float: left;
    color: whitesmoke;
}

/* navbar */

.container{
  background-color: yellow;
}

.container-fluid {
  background-color: #00284d;
  color: black;
  font-size: 16px;

}

.col-sm-4 {
  background-color: #b3daff;
  padding: 30px;
}

.col-sm-12{
  background-color: #b3daff;
  padding-right: 10%;
  padding-left:  10%;
}

.row {
  background-color: #e6e6e6;
  padding-top: 5%;
  padding-right: 10%;
  padding-left:  10%;
}
